
nav{
  background: #5f9ea0;
  ul{
    display: flex;
    justify-content: center;
    li{
      a{
        display: block;
        color: #fff;
        font-size: 1.6rem;
        padding: 12px 22px;
      }
    }
  }
}